---
const text = "Ads";
---
<section class="flex-grow overflow-y-auto w-full p-2
  flex flex-col justify-center items-center">
                  
  <div class="h-[20vh] md:w-full
  flex flex-col items-center">
    <p class=""> {text} </p>
    <p class=""> {text} </p>
    <a href="/index.html" class="pt-8 flex items-center gap-2">
      <svg xmlns="http://www.w3.org/2000/svg" class="size-8 md:size-16" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15M12 9l-3 3m0 0 3 3m-3-3h12.75" />
      </svg>
      <h1 class="text-xl md:text-6xl">Back</h1>
    </a>
  </div>
</section>
