---
const ctaText = "Get Cristiano's goals news!";
const mailchimpActionURL = "https://gmail.us16.list-manage.com/subscribe/post?u=3f2cff59c7dcb37c5b7c956db&amp;id=be410a14cf&amp;f_id=00d4c2e1f0";
---
<section class="flex-none justify-center items-center text-center p-4 mb-12">
 <!--  <h3 class="text-sm md:text-2xl font-normal mb-2 stroke-text">{ctaText}</h3>

  <div id="mc_embed_shell">
    <div id="mc_embed_signup">
    
      <form action={mailchimpActionURL} method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank"
        class="flex flex-col gap-2 px-8 validate">
        <div id="mc_embed_signup_scroll">
          <div class="mc-field-group">
            <input type="email" placeholder="Enter your email" name="EMAIL" id="mce-EMAIL" required="" value=""
            class="px-5 py-3 mb-4 rounded text-white border-1 border-white required email"/>
          </div>
          <div class="optionalParent">
            <div class="clear foot">
                <input type="submit" name="subscribe" id="mc-embedded-subscribe" value="Subscribe"
                class="px-16 py-2 mb-2 sm:mb-8 bg-oldgold-400 text-black text-lg sm:text-2xl rounded-full hover:bg-yellow-700 font-semibold button"/>
            </div>
          </div>
          <div id="mce-responses" class="clear foot">
              <div class="response" id="mce-error-response" style="display: none;"></div>
              <div class="response" id="mce-success-response" style="display: none;"></div>
          </div>
          <div aria-hidden="true" style="position: absolute; left: -5000px;">
              /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
              <input type="text" name="b_3f2cff59c7dcb37c5b7c956db_be410a14cf" tabindex="-1" value=""/>
          </div>

        </div>
      </form>
    </div>
    <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
    <script type="text/javascript">(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
  </div> -->

</section>
