---
const formInfo = "User Feedback";
// const supportText = "Support me on Patreon";
---
<footer class="w-full fixed bottom-0 p-2 bg-black/80 backdrop-blur-sm text-center">
  <!-- <a href="https://www.patreon.com/roadto1000goals25/shop/digital-image-for-page-support-1119116" class="text-sm md:text-xl underline">{supportText}</a> -->
  <h4>@ForDragon Dev</h4>
  <p></p>
  <a href="https://docs.google.com/forms/d/e/1FAIpQLSdi2t_rHJzIdWSQQfvjmC_5UqE1cwrTDhRMkwq3J_QWpr_SJQ/viewform?usp=dialog" class="text-sm md:text-xl underline" >{formInfo}</a>
</footer>