---
const title = "973";
const text = "Last goal May 21 2026";
const longText = "Cristiano Ronaldo goals scored all time";

const LongTailKeywords = {
  one: "Ronaldo's goal scoring record",
  two: "how many goals has Ronaldo scored in his career"
};

---

  <section id="hero" aria-label="Goal Counter"
           class="flex-none w-full justify-center items-center text-center p-4 mt-20 md:mt-8
                  md:items-end md:justify-end md:text-right">
    <h2 class="text-xl subtitle-enhanced mb-2" aria-hidden="true">{LongTailKeywords.one}</h2>
    <div class="goal-counter-container mb-4">
      <h1 class="goal-counter text-8xl md:text-[12rem] font-black tracking-tight leading-none">
          {title}<span class="sr-only"> career goals</span>
      </h1>
    </div>
    <p class="live-indicator text-base md:text-2xl font-semibold text-oldgold-400 mb-3">{text}</p>
    <h2 class="description-enhanced text-xs pt-3 pb-0 uppercase tracking-wide md:tracking-widest
              md:text-2xl md:w-1/3 md:ml-auto">{longText}</h2>
  </section>