--- 
const data = [
  "934 A Al-Nassr FC vs. Yokohama F.M. 38' Right-footed shot",
  "933 H Al-Nassr FC vs. Al-Riyadh SC 64' Right-footed shot",
  "932 H Al-Nassr FC vs. Al-Riyadh SC 56' Right-footed shot",
  "931 A Al-Nassr FC vs. Al-Hilal SFC 88' Penalty",
  "930 A Al-Nassr FC vs. Al-Hilal SFC 47' Left-footed shot",
  "929 H Portugal vs. Denmark 72' Right-footed shot",
  "928 H Al-Nassr FC vs. Al-Kholood Club 4' Right-footed shot",  
  "927 H Al-Nassr FC vs. Esteghlal FC 27' Penalty",
  "926 H Al-Nassr FC vs. Al-Shabab FC 45'+7 Right-footed shot",
  "925 A Al-Nassr FC vs. Al-Wehda FC 48' Header",
  "924 H Al-Nassr FC vs. Al-Fayha FC 74' Counter attack goal",
  "923 H Al-Nassr FC vs. Al-Wasl FC 78' Header",
  "922 H Al-Nassr FC vs. Al-Wasl FC 44' Penalty",
  "921 A Al-Nassr FC vs. Al-Raed SFC 35' Right-footed shot",
  "920 H Al-Nassr FC vs. Al-Fateh SC 87' Right-footed shot",
  "919 A Al-Nassr FC vs. Al-Khaleej FC 90'+8 Left-footed shot",
  "918 A Al-Nassr FC vs. Al-Khaleej FC 65' Right-footed shot",
  "917 H Al-Nassr FC vs. Al-Okhdood Club 42' Penalty",
  "916 A Al-Nassr FC vs. Al-Ittihad Club 57' Right-footed shot",
  "915 H Al-Nassr FC vs. Damac FC 79' Left-footed shot",
  "914 H Al-Nassr FC vs. Damac FC 17' Penalty",
  "913 A Al-Nassr FC vs. Al-Gharafa SC 64' Counter attack goal",
  "912 A Al-Nassr FC vs. Al-Gharafa SC 46' Header",
  "911 H Al-Nassr FC vs. Al-Qadsiah FC 32' Right-footed shot",
  "910 H Portugal vs. Poland 87' Right-footed Penalty",
  "909 H Portugal vs. Poland 72' Penalty",
  "908 H Al-Nassr FC vs. Al-Ain FC 31' Left-footed shot",
  "907 A Portugal vs. Poland 37' Right-footed Penalty",
  "906 A Al-Nassr FC vs. Al-Shabab FC 90'+7 Penalty",
  "905 H Al-Nassr FC vs. Al-Orobah FC 17' Penalty",
  "904 H Al-Nassr FC vs. Al-Rayyan SC 76' Left-footed shot",
  "903 H Al-Nassr FC vs. Al-Wehda FC 56' Penalty",
  "902 A Al-Nassr FC vs. Al-Ettifaq FC 33' Penalty",
  "901 A Al-Nassr FC vs. Al-Fayha FC 45'+10 Direct free kick",
  "900 H Al-Nassr FC vs. Al-Raed SFC 34' Header"
];

//926 goal update
const middleIndex = Math.floor(data.length / 2);

const LongTailKeywords = {
  one: "Cristiano Ronaldo total goals today",
  two: "Cristiano Ronaldo goals 2025"
};
---
<section class="flex-grow overflow-y-auto w-full p-2
                  flex flex-col justify-center items-center">
  <h1 class="text-xl text-transparent mb-4 " >{LongTailKeywords.one}</h1>
  <div class="h-[20vh] md:w-full backdrop-invert backdrop-opacity-10
  overflow-y-auto overflow-hidden webkit-scrollbar-hide
  flex flex-col items-center" aria-description={LongTailKeywords.two}>
      {
        data.map((line,index) => (
          <p class={`max-w-2xl text-xs md:text-2xl py-2 ${index === 0 ? "opacity-100 font-semibold" : "opacity-75"}`}>
            {line}
            </p>
        ))
      }
      
  </div>
</section>